extends layout.pug

block content
  ul
    each post in posts
      li
        p
          a(href='/post/' + post.id)=post.title
          br
          img(width=30 height=30 src='/avator/' + post.avator)
          span (#{post.c}) 评论
